# Dart for Flutter files
*.dart linguist-language=Dart

# Android Java files
*.java linguist-language=Java

# iOS Swift files
*.swift linguist-language=Swift

# Ignore build directories and config files
build/** linguist-vendored
ios/Pods/** linguist-vendored
.dart_tool/** linguist-vendored

# Mark Kotlin and other less significant languages as secondary
*.kt linguist-language=Kotlin
